<div class="float_bar py-3 mt-3">

  <a class="text-center" href="mailto:karim.gonzalez.ait@gmail.com" target="_blank">
    <img class="floatbar_img" src="https://i.ibb.co/YjcqPf6/email.png" alt="email" border="0">
  </a>

  <a class="text-center my-3" href="https://github.com/Karim-aitt" target="_blank">
    <img class="floatbar_img" src="https://i.ibb.co/QH5gNSh/github.png" alt="github" border="0">
  </a>

  <a class="text-center" href="https://www.linkedin.com/in/karimdev/" target="_blank">
    <img class="floatbar_img" src="https://i.ibb.co/gR4KQ2s/linkedin.png" alt="linkedin" border="0">
  </a>

</div>
