<div class="container-fluid back_panel p-3 mt-3">
  <h1 class="text-center title">My Projects</h1>
  <hr class="hr_title">
  <div class="container">

    <app-image-c
      class="text_card"
      [gastos_1]="url_gastos_1"
      [gastos_2]="url_gastos_2"
      [h3]="h3_1"
      [text]="text_1"
      [url]="url_web_1"
    ></app-image-c>

    <hr class="separator">

    <app-image-c
      class="mt-2 text_card"
      [gastos_1]="url_gastos_3"
      [gastos_2]="url_gastos_4"
      [h3]="h3_2"
      [text]="text_2"
      [url]="url_web_2"
    ></app-image-c>

    <hr class="separator">

    <app-image-c
      class="mt-2 text_card"
      [gastos_1]="url_gastos_5"
      [gastos_2]="url_gastos_6"
      [h3]="h3_3"
      [text]="text_3"
      [url]="url_web_3"
    ></app-image-c>

  </div>
</div>
