<div class="container-fluid back_panel py-5">
  <div class="container w-50 py-5 front_panel">
    <div class="d-flex float-end">
      <img class="" src="https://i.ibb.co/syyCn1b/man.png" alt="man" />
    </div>
    <h1 class="fw-bold">About</h1>
    <h2 class="text-primary">The begining</h2>
    <p class="text_about">
      I am passionate about programming since I was little,
      I have always loved exploring my creativity through the creation of
      stories and text games, which led me to discover my passion for web and game
      development.
    </p>
    <p class="text_about">
      Even though math was not my forte, I always persevered and found ways
      around those obstacles. In 2017, I decided to join the <span class="highlight_1">military</span>, convinced
      that it was my true calling. <br><br>During my years on active duty, I
      demonstrated great commitment and dedication to my peers and superiors,
      but in the end, I realized that it wasn't what I really wanted to do.
    </p>
    <h2 class="text-primary">Transitioning into tech</h2>
    <p class="text_about">
      In the year 2021, I made a difficult decision: to leave a stable job to
      pursue my true passion, programming and web development. Even though I was
      afraid because of my math difficulties, I decided to face that fear and
      embark on a <span class="highlight_1">new adventure.</span>
    </p>
    <p class="text_about">
      In addition to my self-taught programming training, I decided to take a
      step forward in my career and completed a <span class="highlight_1">full stack web development</span>
      bootcamp. During this intensive program, I was able to learn in a
      systematic and structured way, gaining solid knowledge in web programming.
      <br><br>But not content with this, I decided to also do a higher degree in web
      development which <span class="highlight_2">I am currently studying.</span>
    </p>
    <h2 class="text-primary">Now</h2>
    <p class="text_about">
      After a lot of dedication and effort, I am proud to say that I now have
      the ability to build web apps from the logical to the visual side. <br><br>I am a
      perfectionist and I love to have a good UX/UI design in my projects. <br><br>I'm
      always looking for new ways to improve and keep learning, and I find web
      development to be an ever-evolving field that offers lots of opportunities
      to keep growing and learning new skills.
    </p>
    <p class="text_about highlight_1">I am currently working for a IT Consultant as frontend developer but I am always open to new adventures.</p>
    <p class="text_about"></p>
  </div>
</div>
