<div class="container-fluid back_panel py-5">
  <div class="container w-50 py-5 front_panel">
    <h1 class="fw-bold">Contact</h1>

    <div class="d-flex flex-column">

      <a class="text_a" href="mailto:karim.gonzalez.ait@gmail.com" target="_blank">
        <p class="text_b">Email</p>
        <img class="contact_img" src="https://i.ibb.co/YjcqPf6/email.png" alt="email" border="0">
      </a>

      <a class="my-3 text_a" href="https://github.com/Karim-aitt" target="_blank">
        <p class="text_b">Github</p>
        <img class="contact_img" src="https://i.ibb.co/QH5gNSh/github.png" alt="github" border="0">
      </a>

      <a class="text_a" href="https://www.linkedin.com/in/karimdev/" target="_blank">
        <p class="text_b">LinkedIn</p>
        <img class="contact_img" src="https://i.ibb.co/gR4KQ2s/linkedin.png" alt="linkedin" border="0">
      </a>
    </div>
  </div>
</div>
