<div class="row p-5">
  <div class="col d-flex justify-content-center">
    <div class="container d-sm-flex justify-content-center img_panel">
      <div class="col">
        <div class="d-flex justify-content-center">

            <img
              id="imagen_gastos_1"
              [src]="gastos_1"
              alt="gastos_1"
            />


            <img
              id="imagen_gastos_2"
              [src]="gastos_2"
              alt="gastos_2"
            />
        </div>
      </div>

      <div class="col d-flex flex-column justify-content-center text_panel">
        <h3 class="fw-bold">{{h3}}</h3>
        <p>
          {{text}}
        </p>
        <div class="d-flex">
          <a [href]="url" target="_blank" class="liveButton">Live</a>
          <a class="codeButton">Code</a>
        </div>
      </div>
    </div>
  </div>
</div>
